body{
  color: #008000;
}

.NavBar{
		position: fixed;
		justify-items: center;
		width: 90vw;
		margin-top: 5vmin;
}

.NewDonationPage{
		height: 100%;
		display: grid;
		grid-template-columns: 3fr 0.25fr 3fr 0.25fr 3fr;
		grid-template-rows: 1fr;
		justify-content: space-between;
}

.form-control {
		margin-top: 1vmin;
		margin-right: 1vmin;
	 border: 0.375vmin solid green;
}

.Search{
		justify-self: left;
		margin-left: 14%;
		margin-top: 20vmin;
		border: 0.375vmin solid green;
		border-radius: 1vmin;
		background-color:rgba(255, 240, 190, 0.75);
		justify-content: center;
}

.SearchBar{
		margin-top: 2vh;
		width: 25vw;
}

.SearchResultsItem{
		margin-right: 4vmin;
}

.CharityInfoBox{
		position: relative;
		justify-self: center;
		justify-content: center;
		margin-top: 20vmin;
		margin-left: 7%;
		width: 25vw;
  border: solid green 0.375vmin;
		background-color:rgba(255, 240, 190, 0.75);
		border-radius: 1vmin;
		padding: 2vmin;
}

.DonationBox{
		justify-self: right;
		width: 25vw;
		margin-top: 20vmin;
  margin-right: 14.5%;
  border: solid green 0.375vmin;
		background-color:rgba(255, 240, 190, 0.75);
		border-radius: 1vmin;
		padding: 2vmin;
}

.Heading, .Give {
		justify-items: center;
}