.NavBar {
		justify-self: center;
		margin-top: 5vmin;
		height: 5vh;
		color: green;
		background-color:rgba(255, 240, 190, 0.75);
		display: flex;
		justify-content: space-around;
		align-items: center;
		border-radius: 1vmin;
		border: 0.375vmin green solid;		
}

.Logo {
		padding: 2vmin;
		scale: 50%;
		border-radius: 50%;
		border: solid green 0.5vmin;
		background-color:rgb(255, 240, 190);
}